.app-body{
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;
  width: 100vw;
}


.app-body-sidebar{
  background-color: #F9FAFF;
  border-right: 1px solid #ECEDEF;
}

.app-body-payment{
  background-color: #F9FAFF;
}

@media (max-width:400px){
  .app-body{
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .app-body-sidebar{
    width: 100%;
  }

  .app-body-content{
    width: 100%;
  }
  .app-body-payment{
    width: 100%;
  }

}





